
#formulario{
    display: inline-block;
    box-sizing: border-box;
    padding: 3%;
    margin-left: 30%;
    border: 1px solid tomato;
    margin-top: 5%;
}

#formulario h2{
    text-align: center;
    color: rgb(173, 69, 69);;
}

button{
   color: rgb(173, 69, 69);
   background-color: white;
   border: 1px solid tomato;
   font-size: 100%;
   margin-left: 40%;
}


input{
   margin-bottom: 10px;
   margin-left: 10px;
}

select{
    margin-bottom: 10px;
}